extends template.jade

block head
	link(href="css/responsive-tables.css" rel="stylesheet")
	script(src="js/jquery.responsive-tables.js")
	script(src="js/detail.js")

block bread
	div(style='padding-top:25px') 
	//for breads
	
block content
	.clearfix
		img.detailImg(alt='' src='images/tmp/detail.jpg')
		| Любая музыка - это сложный, не очень сложный или совсем простой набор аудиальных структур. И чем сложнее этот набор, тем более развитым должно быть то, что принято называть мышлением, чтобы грубо говоря услышать в этом наборе музыку - суметь сложить в голове эти структуры в мелодию. Когда говорят о музыке - на вкус и цвет товарища нет - всё это чушь. Нет никакого вкуса и товарищей. Есть уровень развития мышления. Чем более сложные интеллектуальные объекты может собирать в голове человек, тем от более сложной музыки он способен кайфовать, и тем более он притязателен к этой самой музыке - эта ваша медуза ему слышится примерно как, если ребенок будет молотить ложкой по пустой кастрюле. Мы сейчас живем в век информационной псевдодебильности. Уровень развития мышления стремительно падает. Оно уже не способно на сборку сложных интеллектульных объектов и модель нашей реальности в головах усредненных граждан постоянно упрощается.  Остальное - следствие. Закончится все там-тамами., если ребенок будет молотить ложкой по пустой кастрюле. Мы сейчас живем в век информационной псевдодебильности. Уровень развития мышления стремительно падает. Оно уже не способно на сборку сложных интеллектульных объектов и модель нашей реальности в головах усредненных граждан постоянно упрощается.  Остальное - следствие. Закончится все там-тамами.
	.ttl.ttlH.ttl--margT Что входит в программу курса

	table.tabled.j-tableResp
		thead
			tr
				th Название учебного блока
				th Кол-во часов
		tbody
			tr
				td Теоретическая часть
				td 2
			tr
				td Теоретическая часть 2
				td 3
			tr
				td Теоретическая часть 3
				td 5
	div Уровень развития мышления стремительно падает. Оно уже не способно на сборку сложных интеллектульных объектов и модель нашей реальности в головах усредненных граждан постоянно упрощается.  Остальное - следствие. Закончится все там-тамами.
	.ttl.ttlH.ttl--margT Стоимость услуги
	table.tabled.j-tableResp
		thead
			tr
				th Наименование услуги
				th Срок
				th Стоимость
		tbody
			tr
				td Обучение охранника IV разряда
				td 2 месяца
				td 5000 руб.
			tr
				td Теоретическая часть 2
				td 3
				td 3
			tr
				td Теоретическая часть 3
				td 5
				td 5

	include includes/formFeed.jade
	div Уровень развития мышления стремительно падает. Оно уже не способно на сборку сложных интеллектульных объектов и модель нашей реальности в головах усредненных граждан постоянно упрощается.  Остальное - следствие. Закончится все там-тамами.