-
	var menuBottoms = [{title: 'Услуги образовательного центра',
							links: ['Обучение охранников','Аренда тира очень много букв Аренда тира очень много букв ','Практическая стрельба']},
					{title: 'Информация о нас',
						links: ['Учредители','Контакты','Наш юбилей']}];

	var menu = [
		{title:'Главная', active:false},
		{title:'История организации', active:true},
		{title:'Услуги', active:false,
			sub:[
				{title:'Обучение обращению с оружием', active:false},
				{title:'Услуга 1', active:true},
			]
		},
		{title:'Учредители', active:false},
		{title:'Галерeя', active:false},
		{title:'Публикации в СМИ', active:false},
		{title:'О нас', active:false},
		{title:'Контакты', active:false},
		
	];

	var news = [
		{
			img:'images/tmp/service.jpg',
			ttl:'Обучение охранников 4-6 разрядов и руководителей ЧОП',
			text:'Частная охранная организация (ЧОО) может быть создана только в форме общества с ограниченной ответственностью и не может осуществлять иную деятельность, кроме охранной. При этом имеется исключение.',
		},
		{
			img:'images/tmp/service.jpg',
			ttl:'Подготовка к сдаче экзамена',
			text:'Частная охранная организация (ЧОО) может быть создана только в форме общества с ограниченной ответственностью и не может осуществлять иную деятельность, кроме охранной. При этом имеется исключение.'
		},
		{
			img:'images/undertake--ur.jpg',
			ttl:'Заголовок',
			text:'Текст',
		},
		{
			img:'images/undertake--ur.jpg',
			ttl:'Заголовок',
			text:'Текст',
		},
		
		
	];